.Payment_page{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #4fe4c3;
    color: #2d2d2d;
}
.payee_container{
    width: 70%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem;
    margin-left: 5rem;
}
.payee_box{
    position: relative;
    width: 50rem;
    border-radius: 1.5rem;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.291);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #fff;
}
.payee_image{
    width: 7rem;
    height: 14rem;
    background: #fff;
    box-shadow: -4px 2px 5px rgba(0, 0, 0, 0.184);
    border-bottom-left-radius: 14rem;
    border-top-left-radius: 14rem;
    margin-left: -7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.payee_image_img{
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    margin-left: 7rem;
}
.payee_content{
    height: 100%;
    padding: 5rem 1rem 0rem 1rem;
    margin-left: 7rem;
    font-size: 2rem;
}
.payee_address{
    bottom: 4rem;
    font-size: 1.3rem;
    margin-top: 1.5rem;
}
.payee_about{
    margin-top: .5rem;
    font-size: 1.5rem;
}
.payeey_buttons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3rem;
    margin-top: 2rem;
}
.payee_btn{
    height: 3rem;
    padding: .5rem 2rem .7rem 2rem;
    border-radius: .5rem;
    background: #c8c8c8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}
.payee_btn:hover{
    background: #24a0ed;
}